@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl text-primary font-medium md:text-4xl;
  }

  h2 {
    @apply text-xl text-primary font-medium md:text-3xl;
  }

  h3 {
    @apply text-lg text-primary font-medium md:text-2xl;
  }

  h4 {
    @apply text-base text-primary font-medium md:text-lg;
  }

  body {
    @apply bg-background text-sm text-primary md:text-base;
  }
}

.card {
  border-radius: 1.5rem;
  background: #4C199B;
  box-shadow:  20px 20px 60px #411584,
               -20px -20px 60px #571db2;
}